<div class="about">
    <div class="info">
        <p><strong>Name:</strong> Dana</p>
        <p><strong>Student ID: </strong>24B031</p>
    </div>
    <div class="info">
        <p><strong>Course:</strong> Web Development</p>
        <p><strong>Lab: 6</strong> - Album Browser</p>
    </div>
    <div class="info">
        <p>In this lab, I built an Album Browser 
            application using Angular's Router and 
            HttpClient modules. The application fetches 
            data from a public REST API and features 
            a service layer to manage data flow. Key 
            focuses included:
        </p>
        <ul>
            <li>Multi-page SPA: Implementing seamless navigation between Home, About, and Album views.</li>
            <li>Routing & Parameters: Using dynamic routes to pass IDs and display specific album details or photos.</li>
            <li>HTTP & Observables: Handling asynchronous data requests and updating the UI reactively.</li>
            <li>CRUD Operations: Enabling users to view, edit, and delete album entries.</li>
        </ul>
    </div>
</div>>