<header>
    <div class="header-inner">
        <div class="kaspi-icon">
            <img src="https://upload.wikimedia.org/wikipedia/ru/a/aa/Logo_of_Kaspi_bank.png" alt="kaspi logo image">
            <p>Kaspi.kz</p>
        </div>

        <div class="header-links">
            <a href="">Клиентам</a>
            <a href="">Бизнесу</a>
            <a href="">Kaspi Гид</a>
        </div>

        <div>

        </div>
    </div>
    
</header>


<div class="product-search">
    <div class="product-search-block">
        <form>
            <label for="product_search"><p>Магазин</p></label>
            <input type="search" id="product_search" name="product_search" placeholder="Поиск товара">
            <button type="submit" class="search-button">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="25px" height="20px" fill="none">
                    <path d="M21 21l-4.35-4.35M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
        </form>
    </div>

    <div class="product-city">
        <p>Мой город:</p>
        <a href="">Алматы</a>
    </div>
</div>




<div class="categories-block">
    <div class="categories-block-inner">
        <ul>
            <li>
                <a href=""><span>ВСЕ КАТЕГОРИИ</span></a>
            </li>
            <li>
                <a href=""><span>ТЕЛЕФОНЫ И ГАДЖЕТЫ</span></a>
            </li>
            <li>
                <a href=""><span>БЫТОВАЯ ТЕХНИКА</span></a>
            </li>
            <li>
                <a href=""><span>ТВ, АУДИО, ВИДЕО</span></a>
            </li>
            <li>
                <a href=""><span>КОМПЬЮТЕРЫ</span></a>
            </li>
            <li>
                <a href=""><span>МЕБЕЛЬ</span></a>
            </li>
            <li>
                <a href=""><span>КРАСОТА, ЗДОРОВЬЕ</span></a>
            </li>
            <li>
                <a href=""><span>ДЕТСКИЕ ТОВАРЫ</span></a>
            </li>
            <li>
                <a href=""><span>АПТЕКА</span></a>
            </li>
        </ul>
    </div>
</div>