.catalog-block {
    background-color: #f9f9f9;
}


.catalog-block-inner {
    margin-left: 210px;
    margin-right: 210px;
    padding-top: 10px;

    display: flex;
    flex-direction: row;
}

.right-side {
    display: flex;
    flex-direction: column;

    width: 720px;
}



.top-container {
  font-family: Arial, sans-serif;
  margin-bottom: 0px;
}

/* Хлебные крошки */
.breadcrumbs {
  display: flex;
  align-items: center;
  font-size: 13px;
  padding: 15px 0;
}

.breadcrumb-link {
  color: #0089d0;
  text-decoration: none;
}

.breadcrumb-link:hover {
  text-decoration: underline;
}

.separator {
  margin: 0 10px;
  color: #999;
  font-size: 14px;
}

.current-page {
  color: #999;
}

/* Линия-разделитель */
.header-divider {
  border: 0;
  border-top: 1px solid #efefef;
  margin: 0;
}

/* Панель сортировки */
.toolbar {
  display: flex;
  justify-content: flex-end; /* Выравнивание вправо */
  padding: 15px 0;
}

.sort-select {
  padding: 8px 35px 8px 15px;
  font-size: 14px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  
  /* Кастомная стрелочка как на скриншоте */
  appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23CCC%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: right 12px top 50%;
  background-size: 10px auto;
}

.sort-select:focus {
  outline: none;
  border-color: #0089d0;
}


.pagination-container {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-right: 0px;
  align-items: center;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  width: 500px;
}

.page-item {
  display: flex;
  align-items: center;
}

/* Вертикальные разделители между элементами */
.page-item + .page-item {
  border-left: 1px solid #e0e0e0;
}

.page-link {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #0089d0; /* Синий цвет ссылок */
  font-size: 14px;
  transition: background-color 0.2s;
}

/* Стили для текста "Предыдущая" (неактивная) */
.page-item.disabled .page-link {
  color: #ccc;
  cursor: not-allowed;
}

/* Стили для активной страницы (серая плашка) */
.page-item.active .page-link {
  background-color: #eeeeee;
  color: #333;
  font-weight: bold;
}

/* Ховер эффект для ссылок */
.page-link:hover:not(.active):not(.disabled) {
  background-color: #f8f9fa;
  text-decoration: underline;
}

/* Убираем подчеркивание у текста "Следующая" */
.page-link.next {
  color: #0089d0;
}