<div class="sidebar-container">
  <div class="section-categories">
    <div class="root-link">Все категории<span class="count">(4)</span></div>
    
    
    <div class="category-tabs">
      @for (catg of categories(); track catg.id) {
        <button (click)="selectCategory(catg.id)" [class.active]="selectedId() === catg.id">
          > {{ catg.name }}
        </button>
      }

      <!-- @if (selectedCategoryId()) {
        <app-product-list [products]="filteredProducts()" />
      } @else {
        <div class="welcome">Выберите категорию, чтобы увидеть товары</div>
      } -->
  
    </div>

  </div>


  <hr class="divider">

  <div class="filter-group">
    <h3 class="filter-title">Цена</h3>
    <div class="checkbox-list">
      <label class="item"><input type="checkbox"> до 10 000 т <span class="count-gray">(211189)</span></label>
      <label class="item"><input type="checkbox"> 10 000 - 49 999 т <span class="count-gray">(97897)</span></label>
      <label class="item"><input type="checkbox"> 50 000 - 99 999 т <span class="count-gray">(15477)</span></label>
    </div>
  </div>

  <!-- <hr class="divider">

  <div class="filter-group">
    <h3 class="filter-title">Бренд</h3>
    <div class="checkbox-list">
      <label class="item"><input type="checkbox"> Huggies <span class="count-gray">(73)</span></label>
      <label class="item"><input type="checkbox"> Mello <span class="count-gray">(582)</span></label>
      <label class="item"><input type="checkbox"> Yokosun <span class="count-gray">(41)</span></label>
    </div>
    <div class="show-more">Показать еще <span class="arrow-down-blue"></span></div>
  </div>

  <hr class="divider">

  <div class="filter-group">
    <h3 class="filter-title">Продавцы</h3>
    <div class="checkbox-list">
      <label class="item"><input type="checkbox"> ZERDE Toys <span class="count-gray">(1336)</span></label>
      <label class="item"><input type="checkbox"> Детский мир - Казахстан <span class="count-gray">(5975)</span></label>
    </div>
    <div class="show-more">Показать еще <span class="arrow-down-blue"></span></div>
  </div> -->
</div>