<footer>
    <div class="footer-inner">
        <div class="top">
            <div class="footer-list">
                <p>Продукты Kaspi.kz</p>
                <ul>
                    <li><a href="">Kaspi Gold</a></li>
                    <li><a href="">Kaspi Gold для ребенка</a></li>
                    <li><a href="">Kaspi Red</a></li>
                    <li><a href="">Kaspi Депозит</a></li>
                    <li><a href="">Кредит на Покупки</a></li>
                    <li><a href="">Рассрочка</a></li>
                    <li><a href="">Кредит для ИП</a></li>
                    <li><a href="">Кредит наличными</a></li>
                </ul>

            </div>

            <div class="footer-list">
                <p>Сервисы Kaspi.kz</p>
                <ul>
                    <li><a href="#">Магазин</a></li>
                    <li><a href="#">Travel</a></li>
                    <li><a href="#">Платежи</a></li>
                    <li><a href="#">Мой банк</a></li>
                    <li><a href="#">Переводы</a></li>
                    <li><a href="#">Акции</a></li>
                    <li><a href="#">Госуслуги</a></li>
                    <li><a href="#">Объявления</a></li>
                    <li><a href="#">Kaspi Гид</a></li>
                </ul>

            </div>

            <div class="footer-list">
                <p>Для Бизнеса</p>
                <ul>
                    <li><a href="#">Kaspi Pay</a></li>
                    <li><a href="#">Бизнес Кредит</a></li>
                    <li><a href="#">Кредит для ИП</a></li>
                    <li><a href="#">Принимать платежи с Kaspi.kz</a></li>
                    <li><a href="#">Kaspi Гид</a></li>
                    <li><a href="#">Кабинет продавца</a></li>
                </ul>


            </div>

            <div class="footer-list">
                <p>9999 Бесплатно с мобильного</p>
                <ul>
                    <li><a href="#">Пользовательское соглашение</a></li>
                    <li><a href="#">Вакансии</a></li>
                    <li><a href="#">Investor Relations</a></li>
                    <li><a href="#">Договор присоединения</a></li>
                    <li><a href="#">Договор по оказанию услуги доставки</a></li>
                </ul>

            </div>
        </div>

        <div class="bottom">
            <div class="bottom-text">
                <p>© 2012-2026, ТОО «Kaspi Магазин»</p>
                <p>Все товарные знаки, размещённые на сайте, являются товарными знаками правообладателя и используются на сайте исключительно в информационных целях</p>
                <a href="">Корпоративный сайт</a>
            </div>
            <div class="bottom-links">

            </div>

        </div>
    </div>
</footer>